


.radioClass {
    color: red;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}

body {
}

.colorApply {
    color: red;
}

.boldApply {
    font-weight: bold;
}


table {
    border: double;
    color: #369;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}

td {
    border: 1px solid black;
}

thead {
    border: 1px solid black;
}
