
td {
    border: 1px solid black;
}

thead {
    border: 1px solid black;
}
table {
    border: double;
    color: #369;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}
body {
}



.radioClass {
    color: red;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
}