<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>



    <div id="empDiv">
        <h3>Employee.component.html</h3>
        <table>
            <tr>
                <td>First Name2:</td>
                <td>{{empFirstName}}</td>
            </tr>
            <tr>
                <td>Last Name2:</td>
                <td>{{empLastName}}</td>
            </tr>
            <tr>
                <td>Servi Num2:</td>
                <td>{{empServiNum}}</td>
            </tr>
        </table><br>
        <my-Intr></my-Intr>
    </div>
    <br>
</body>
</html>